<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	<ul>
		<%
			var descricaoAcao = {
				"1": "aldeão(ões) coletando recursos",
				"2": "enforcamento(s) programado",
				"3": "aldeão(ões) em treinamento de história",
				"4": "aldeão(ões) em treinamento de magia",
			};
			
			for(var i = 0; i < acoes.length; i++) {
				var restam = Math.round((acoes[i].acao_termina_em - new Date().getTime()) / 1000);
		%>
			<li>
				<%= acoes[i].quantidade%>
				<%=descricaoAcao[acoes[i].acao]%> - <small>restam <span class="tempo_restante"><%=restam%></span> segundos - <a href="javascript:void(0);" class="revogar_acao" data-id=<%=acoes[i]._id%>>revogar ordem</a></small>
			</li>
		<% 
			} 
		%>
	</ul>
</div>